/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-6-14, 13:21:04
    Author     : coolwind
*/

.btn-submit{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-submit-sm{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-register{
    border-radius: 10px;
    border-style: groove;
    border-width: 2px;
}

.form-register-item{
    margin-top: 20px
}

.form-register-item-sm{
    margin-top: 10px
}

.marketing-content{
    //padding-top:100px;
    margin-top: 120px;
}

/* Show and Affix the side nav when space allows it */
@media screen and (min-width: 992px) {
    /* Widen the fixed sidebar */
    .bs-sidebar,.bs-sidebar.affix,.bs-sidebar.affix-bottom {
        width: 223px;
    }

}

@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .bs-sidebar,.bs-sidebar.affix-bottom,.bs-sidebar.affix {
        width: 299px;
    }
}

.close-to{
    margin-top: 1px;
    padding-top: 0px;
    margin-bottom: 1px;
    padding-bottom: 0px;
}

hr{
    height: 4px;
    border:none;
    border-top: 2px dashed #dcdcdc;
}

.hr-footer{
    height: 4px;
    border: none;
    border-top: 3px #dcdcdc;
    border-top-style:dashed ;
}

.tab-content{
    margin-top: 45px;
    margin-bottom: 45px;
}
.table-item-right{
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-left: none; 
}

.table-item-left{
    padding-top: 10px;
    border-style: solid;
    border-width: 1px; 
}

.table-title-item{
    background: #dcdcdc;
    border-style:none;
    margin-left: 1px;
}

.table-nopad{
    padding-top: 5px;
    padding-bottom:5px;
    background: #eee;
    border-style:none;
    margin-left: 1px;
}

.table-item{
    padding-top: 10px;
    background: #eee;
    border-style:none;
    margin-left: 1px;
}

.editor-height{
    height: 170px;
    width: 350px;
}